# Chapter 3. Built-In Data Structures, Functions, and Files

This chapter 3 focuses on fundamental elements of the Python language that are essential throughout the book. It emphasizes the synergy between Python's built-in data manipulation tools and additional libraries like pandas and NumPy, designed for more complex computational tasks with large datasets. The chapter covers core data structures (tuples, lists, dictionaries, and sets), creating reusable functions in Python, and understanding the basics of working with file objects and local file systems.

# 3.1 Data Structures and Sequences
Python boasts straightforward yet potent data structures. Proficiency in their utilization is a crucial aspect of achieving expertise as a Python programmer. Our journey begins with tuples, lists, and dictionaries, among the sequence types commonly employed.

**Tuple**
A tuple is a fixed-length, immutable sequence of Python objects, which, once assigned, cannot be changed. The simplest method to create a tuple is by specifying a comma-separated sequence of values enclosed within parentheses:

```python
tup = (4, 5, 6)
```

In this example, the tuple `tup` is defined with the values 4, 5, and 6. Once created, the content of the tuple remains3 constant throughout its existence.

In [1]:
tup = (4, 5, 6)
tup

(4, 5, 6)

Certainly, in many contexts, the parentheses can be omitted when creating a tuple. Therefore, the tuple assignment can also be expressed without explicit parentheses, like so:

```python
tup = 4, 5, 6
```

This syntax is equivalent to the previous example and is a concise alternative when creating tuples with a simple sequence of values.

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

Certainly, you have the capability to convert any sequence or iterator into a tuple by utilizing the `tuple` function. Here are examples illustrating this conversion:

```python
result1 = tuple([4, 0, 2])  # Converts a list to a tuple
result2 = tuple('string')  # Converts a string to a tuple
```

In the first example, the `tuple` function is used to convert the list `[4, 0, 2]` into a tuple. In the second example, the characters of the string 'string' are converted into a tuple. This flexibility allows you to easily create tuples from various iterable objects.

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

Indeed, elements within a tuple can be accessed using square brackets (`[]`), following the convention of many other sequence types. In Python, as in languages such as C, C++, Java, and others, sequences are 0-indexed. Here's an example of accessing the first element of a tuple:

```python
tup = (4, 5, 6)
first_element = tup[0]
```

In this case, `first_element` will be assigned the value 4, as indexing starts from 0 in Python.

In [7]:
tup[0]

's'

Certainly, when defining tuples within more intricate expressions, it is often necessary to enclose the values in parentheses. Here's an example of creating a tuple of tuples and accessing its elements:

```python
nested_tup = (4, 5, 6), (7, 8)

# Accessing the entire tuple
complete_tuple = nested_tup

# Accessing the first tuple within the nested structure
first_tuple = nested_tup[0]

# Accessing the second tuple within the nested structure
second_tuple = nested_tup[1]
```

In this case, `complete_tuple` is the entire tuple of tuples, `first_tuple` corresponds to the tuple (4, 5, 6), and `second_tuple` corresponds to the tuple (7, 8). The use of parentheses aids in creating and referencing nested structures.

In [8]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [11]:
nested_tup[0]

(4, 5, 6)

In [13]:
nested_tup[1][1]

8

Tuples in Python are immutable, meaning that once created, you cannot modify the objects stored in each slot. The following example demonstrates an attempt to modify an element within a tuple, which is not allowed:

```python
tup = tuple(['foo', [1, 2], True])

# This operation is not allowed and will result in an error
tup[2] = False
```

This would raise a `TypeError` since tuples do not support item assignment after creation. The immutability of tuples ensures their integrity and consistency throughout their existence. If you need a data structure with mutable elements, a list might be a more suitable choice.

In [14]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

If an object contained within a tuple is mutable, for example, a list, it can be modified in place. The following example illustrates this concept:

```python
tup = ('foo', [1, 2], True)

# Modifying the mutable object (list) within the tuple
tup[1].append(3)
```

In this case, the `append` method is used to modify the list `[1, 2]` within the tuple. As a result, the updated tuple is `('foo', [1, 2, 3], True)`. While the tuple itself remains immutable, its elements, if mutable, can be modified in place.

In [15]:
tup[1].append(3)   # Modifying the mutable object (list) within the tuple
tup

('foo', [1, 2, 3], True)

#### Concatenate tuples
You can combine or concatenate tuples by using the `+` operator, resulting in the creation of longer tuples. Here's an example along with an explanation:

```python
# Concatenating three tuples to form a longer tuple
result = (4, None, 'foo') + (6, 0) + ('bar',)
```

The `+` operator is employed to concatenate the tuples `(4, None, 'foo')`, `(6, 0)`, and `('bar',)`. The resulting tuple, assigned to the variable `result`, is `(4, None, 'foo', 6, 0, 'bar')`. This operation allows for the seamless combination of individual tuples into a single, longer tuple.

In [16]:
(4, None, 'foo') + (6, 0) + ('bar',)   # Concatenating three tuples to form a longer tuple

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, akin to lists, results in concatenating the tuple with itself multiple times. In the provided example (`('foo', 'bar') * 4`), it signifies that the original tuple `('foo', 'bar')` is repeated four times, generating a new tuple: `('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')`. This multiplication operation provides a concise way to replicate and extend tuples according to the specified multiplier.

In [10]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

It's important to note that when multiplying a tuple by an integer, the objects themselves are not duplicated; instead, only references to the existing objects are replicated. This means that the elements within the multiplied tuples point to the same underlying objects as the original tuple. Any modification to the referenced objects will be reflected across all instances in the multiplied tuple. Understanding this behavior is crucial for handling mutable objects within tuples and avoiding unexpected consequences.

In the following example, when the original tuple is multiplied by 2, the elements within the multiplied tuple still reference the same list object as the original tuple. Therefore, when we modify the list inside the original tuple, the change is reflected in the multiplied tuple as well.

In [17]:
# Original tuple with a list as one of its elements
original_tuple = (1, 2, [3, 4])
original_tuple

(1, 2, [3, 4])

In [18]:
# Multiplying the tuple by an integer
multiplied_tuple = original_tuple * 2
multiplied_tuple

(1, 2, [3, 4], 1, 2, [3, 4])

In [19]:
# Modifying the list inside the original tuple
original_tuple[2].append(5)
original_tuple

(1, 2, [3, 4, 5])

In [20]:
multiplied_tuple

(1, 2, [3, 4, 5], 1, 2, [3, 4, 5])

#### Unpacking Tuples:
When you attempt to assign values to a tuple-like expression of variables, Python automatically endeavors to unpack the values from the right-hand side of the equals sign. 

In the following example, the values `(4, 5, 6)` are unpacked into the variables `a`, `b`, and `c`. After this operation, the value of `b` will be 5. This unpacking feature provides a concise and expressive way to assign multiple variables simultaneously based on the contents of a tuple.

In [21]:
tup = (4, 5, 6)
a, b, c = tup
b

5

Even sequences containing nested tuples can be unpacked in Python: In the following example, the tuple `(6, 7)` within the original tuple is unpacked into the variables `c` and `d`. Consequently, the value of `d` will be 7 after the unpacking operation. This capability allows for flexible and hierarchical unpacking of values from nested structures within tuples.

In [22]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

Utilizing this unpacking functionality in Python, you can effortlessly swap variable names—a task that, in many other languages, might involve temporary variables. In Python, the swapping process can be succinctly expressed without the need for a temporary variable:

```python
a, b = b, a
```

This elegant one-liner takes advantage of tuple packing and unpacking to swap the values of `a` and `b` without the necessity of an auxiliary variable. The right-hand side creates a tuple `(b, a)`, and the variables on the left-hand side are then unpacked accordingly.

Absolutely, in Python, the swap can be achieved succinctly, as demonstrated in your example:

```python
a, b = 1, 2
b, a = a, b
```

This concise syntax takes advantage of tuple packing and unpacking, allowing for the direct swapping of values between `a` and `b` without the need for a temporary variable. This not only enhances code readability but also exemplifies the flexibility and elegance of Python's syntax.

In [23]:
a, b = 1, 2
a

1

In [24]:
b

2

In [25]:
b, a = a, b
a

2

In [26]:
b

1

A common and powerful use of variable unpacking in Python is when iterating over sequences of tuples or lists. The following example illustrates this well:

In this case, each iteration unpacks the tuple `(1, 2, 3)`, `(4, 5, 6)`, and `(7, 8, 9)` into the variables `a`, `b`, and `c` respectively. This type of iterable unpacking simplifies the code when working with structured data, making it more readable and expressive.

In [29]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Another common and powerful application of variable unpacking is when returning multiple values from a function.

Additionally, the concept of "plucking" elements from the beginning of a tuple is facilitated by a special syntax: `*rest`. This syntax is not only applicable in unpacking tuples but is also used in function signatures to capture an arbitrarily long list of positional arguments.

Here's an example illustrating the use of `*rest` to capture the remaining elements after extracting `a` and `b` from the tuple:

After this operation, `a` will be 1, `b` will be 2, and `rest` will be a list containing the remaining elements `[3, 4, 5]`. This provides a flexible way to handle variable-length structures and is commonly used in functions where the number of arguments may vary.

In [30]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a

1

In [31]:
b

2

In [32]:
rest

[3, 4, 5]

In situations where you want to discard the remaining elements, it's common to use a placeholder variable, and as a convention, many Python programmers opt for the underscore (`_`) for this purpose. The underscore indicates that the variable is intentionally unused and serves as a visual cue to readers that the value is disregarded.

Here's an example illustrating the convention of using underscore for the unwanted variables:

In this case, `a` will be 1, `b` will be 2, and the underscore `_` signifies that the remaining elements are intentionally ignored. This practice enhances code clarity and informs others that the specific values are not relevant to the current context.

In [37]:
a, b,*_ = values

In [34]:
_

[3, 4, 5]

Indeed, due to the immutability of tuples, they have a limited set of instance methods. However, one particularly useful method, which is also available for lists, is the `count` method. This method allows you to determine the number of occurrences of a specific value within the tuple.

In this In the following example, `count_of_2` will be equal to 4, indicating that the value 2 appears four times in the tuple `a`. The `count` method provides a convenient way to analyze the frequency of specific elements within a tuple.

In [39]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List
In contrast to tuples, lists exhibit variable length, and their contents can be modified in place, making them mutable. Lists can be defined using square brackets `[]` or the `list` type function:

Lists, being mutable, allow for modifications to their elements after creation. In the following example, a list `a_list` is created directly using square brackets, and another list `b_list` is generated by converting a tuple `tup` using the `list` function.

In [40]:
a_list = [2, 3, 7, None]
a_list

[2, 3, 7, None]

In [41]:
tup = ("foo", "bar", "baz")

In [42]:
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

The ability to modify individual elements in the list is demonstrated by changing the value at index 1 in `b_list` from 'bar' to 'peekaboo'.

In [43]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

Lists and tuples share semantic similarities, although tuples, being immutable, cannot be modified. They can often be used interchangeably in many functions. The `list` built-in function is commonly employed in data processing to materialize an iterator or generator expression:

In the following example, the `range(10)` generator expression is materialized into a list using the `list` function. This process is beneficial in scenarios where the iterator or generator expression needs to be converted into a concrete list for further manipulation or analysis.

In [44]:
gen = range(10)  # Creating a generator expression
gen

range(0, 10)

In [45]:
list(gen)  # Using the list function to materialize the generator into a list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

Elements can be added to the end of a list using the `append` method. 

In the following case, the `append` method is used to add the string "dwarf" to the end of the list `b_list`. The result is an updated list containing the additional element. The `append` method is a convenient way to extend lists dynamically.

In [17]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

By utilizing the `insert` method, you can add an element at a particular position within a list. 

In the following instance, the `insert` method is employed to insert the string "red" at index 1 in the list `b_list`. The resulting list reflects the addition of the element at the specified position. The `insert` method allows for precise placement of elements within a list.

In [47]:
b_list.insert(2, "red")    # Inserting the element "red" at position 1 in the list
b_list

['foo', 'red', 'red', 'peekaboo', 'baz']

When using the `insert` method, it's essential to ensure that the insertion index falls within the valid range of 0 to the length of the list (inclusive). Attempting to insert an element at an index outside this range will result in an `IndexError`. 

The counterpart to the `insert` operation is `pop`, which removes and retrieves an element from a specific index. In the following instance, the `pop` method is employed to eliminate the element at index 2 in the list `b_list`. The value 'peekaboo' is then returned and stored in the variable `removed_element`. Subsequently, the list is updated, and its contents become `['foo', 'red', 'baz', 'dwarf']`.

The `pop` method provides a way to selectively remove elements from a list based on their index while simultaneously obtaining the removed value.

In [48]:
b_list.pop(2)   # Using pop to remove and return the element at index 2
b_list

['foo', 'red', 'peekaboo', 'baz']

Elements can be eliminated based on their value using the `remove` method, which identifies the first occurrence of the specified value and removes it from the list. 

In the following scenario, the `remove` method is applied to eliminate the first occurrence of the value "foo" from the list `b_list`. After this operation, the list is updated, and its contents become `['red', 'baz', 'dwarf', 'foo']`. The `remove` method is useful when you want to delete a specific value from a list without considering its index.

In [49]:
b_list.append("foo")   # Adding "foo" to the list
b_list

['foo', 'red', 'peekaboo', 'baz', 'foo']

In [50]:
b_list.remove("foo")   # Removing the first occurrence of "foo" from the list
b_list

['red', 'peekaboo', 'baz', 'foo']

If performance considerations are not crucial, you can emulate a set-like behavior using a Python list by employing `append` and `remove`. Although Python includes actual set objects (discussed later).

In the following case, the `in` keyword is utilized to determine if the value "dwarf" exists in the list `b_list`. The result is a boolean indicating whether the specified value is present in the list.

It's important to note that while this approach may offer set-like functionality, Python provides dedicated set objects for more efficient and optimized set operations, especially in scenarios involving larger datasets.

In [51]:
"dwarf" in b_list   # Checking if "dwarf" is present in the list

False

The `not` keyword can be employed to negate the result obtained from using the `in` keyword. 

In the following instance, the `not in` expression is used to evaluate whether the value "dwarf" is not present in the list `b_list`. The result is a boolean indicating whether the specified value is absent in the list. In this particular case, the output is `False`, suggesting that "dwarf" is indeed present in the list.

Verifying whether a list contains a specific value is considerably slower compared to dictionaries and sets (to be discussed shortly). This is because Python performs a linear scan across the values of the list, resulting in a time complexity proportional to the size of the list. In contrast, dictionaries and sets, which are based on hash tables, can execute such checks in constant time, providing faster performance for membership tests.

In [52]:
"dwarf" not in b_list   # Checking if "dwarf" is not present in the list

True

#### Concatenating and combining lists
Similar to tuples, combining lists with the `+` operator concatenates them. If you already have a list defined, the `extend` method allows you to append multiple elements to it. It's important to note that concatenating lists with `+` creates a new list, copying the objects over, making it relatively expensive. In contrast, using `extend` to append elements to an existing list is generally more efficient, especially when building up a large list. Therefore, when dealing with lists of lists, using `extend` in a loop is faster than the alternative concatenative approach.

In [53]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [23]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sort
You can arrange the elements of a list in ascending order using the `sort` function, which modifies the list in place without creating a new object. For instance, if you have a list `a` containing numeric elements, calling `a.sort()` will rearrange its elements in ascending order.

In [55]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

To sort the list `a` in descending order, you can use the `sort` method with the `reverse` parameter set to `True`. Here's the modified code:

In [56]:
a.sort(reverse=True)
a

[7, 5, 3, 2, 1]

The `sort` function offers options, one of which is the ability to provide a secondary sort key—a function that determines the value to be used for sorting. This can be useful in scenarios where you want to sort a collection of strings based on their lengths, for example. In the given example, the list `b` is sorted using the `len` function as the key, resulting in a list ordered by string lengths.

Additionally, there is a mention of the upcoming `sorted` function, which will be discussed later. The `sorted` function can create a sorted copy of a general sequence, offering an alternative approach to sorting without modifying the original sequence.

In [25]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing
You can extract portions of most sequence types using slice notation, which involves specifying `start:stop` within square brackets. The resulting slice includes elements from the start index up to, but not including, the stop index. Slices can also be assigned with a sequence, replacing the selected portion of the original sequence. If either the start or stop is omitted, it defaults to the beginning or end of the sequence, respectively. Negative indices slice the sequence relative to the end. Understanding slicing semantics may take some time, especially for those transitioning from R or MATLAB. A step value after a second colon allows you to select elements at intervals, such as every other element. A clever use of -1 as the step value can reverse a list or tuple.

In [1]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [2]:
seq[1:5]

[2, 3, 7, 5]

In [31]:
seq[3:5] = [6, 3]
seq

In [32]:
seq[:5]

In [ ]:
seq[3:]

In [33]:
seq[-4:]

In [ ]:
seq[-6:-2]

In [34]:
seq[::2]

In [35]:
seq[::-1]

### Dictionary

In [36]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

In [37]:
d1[7] = "an integer"
d1
d1["b"]

In [38]:
"b" in d1

In [39]:
d1[5] = "some value"
d1
d1["dummy"] = "another value"
d1
del d1[5]
d1
ret = d1.pop("dummy")
ret
d1

In [40]:
list(d1.keys())
list(d1.values())

In [41]:
list(d1.items())

In [42]:
d1.update({"b": "foo", "c": 12})
d1

In [43]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

In [44]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

In [45]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

In [46]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [47]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [48]:
d = {}
d[tuple([1, 2, 3])] = 5
d

In [49]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [50]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [51]:
a.union(b)
a | b

In [52]:
a.intersection(b)
a & b

In [53]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [54]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [55]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [56]:
{1, 2, 3} == {3, 2, 1}

In [57]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

In [58]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

In [59]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [60]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

In [61]:
list(reversed(range(10)))

In [62]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

In [63]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [64]:
set(map(len, strings))

In [65]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

In [66]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [67]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

In [68]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

In [69]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [70]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [71]:
[[x for x in tup] for tup in some_tuples]

In [72]:
def my_function(x, y):
    return x + y

In [73]:
my_function(1, 2)
result = my_function(1, 2)
result

In [74]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

In [75]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [76]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

In [77]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [78]:
func()
a
func()
a

In [79]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

In [80]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [81]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [82]:
clean_strings(states)

In [83]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [84]:
clean_strings(states, clean_ops)

In [85]:
for x in map(remove_punctuation, states):
    print(x)

In [86]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [87]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [88]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [89]:
strings.sort(key=lambda x: len(set(x)))
strings

In [90]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

In [91]:
dict_iterator = iter(some_dict)
dict_iterator

In [92]:
list(dict_iterator)

In [93]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [94]:
gen = squares()
gen

In [95]:
for x in gen:
    print(x, end=" ")

In [96]:
gen = (x ** 2 for x in range(100))
gen

In [97]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

In [98]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

In [99]:
float("1.2345")
float("something")

In [100]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [101]:
attempt_float("1.2345")
attempt_float("something")

In [102]:
float((1, 2))

In [103]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [104]:
attempt_float((1, 2))

In [105]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [106]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [107]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

In [108]:
f.close()

In [109]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [110]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

In [111]:
f1.tell()
f2.tell()

In [112]:
import sys
sys.getdefaultencoding()

In [113]:
f1.seek(3)
f1.read(1)
f1.tell()

In [114]:
f1.close()
f2.close()

In [115]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

In [116]:
import os
os.remove("tmp.txt")

In [117]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

In [118]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

In [119]:
data.decode("utf-8")
data[:4].decode("utf-8")

In [120]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

In [121]:
os.remove(sink_path)

In [122]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()