# Intro to Data Science - Homework 1 - Fall 2024 - Wilmington College
## Due Date: February 2, 2024, 11:30 AM (Before the Start of Our Class)

Dear Students,

Welcome to Homework 1 for the Intro to Data Science course.

**Submission Instructions:**
Please complete the homework and commit your changes to GitHub. In case you encounter any issues or have questions, feel free to seek assistance from me.

**Alternative Submission:**
If, for any reason, you are unable to use GitHub, you can submit your work via email.

Remember, timely completion of assignments is crucial for your understanding of the course material. If you face any challenges, don't hesitate to reach out.

# Score:   8.5/10

1. **Tuple Manipulation:**
   - Given the tuple `tup = (4, 5, 6)`, create a new tuple `nested_tup` that contains two copies of `tup` as its elements.
   - Explain the difference between mutable and immutable objects using the example of tuples.

In [2]:
nested_tup= (4, 5, 6), (4, 5, 6)
nested_tup

((4, 5, 6), (4, 5, 6))

A tuple is immutable. You cannot change the objects in them. For the example I created, I tried to change False in the [2] position to be true and I get an output error: 'tuple' object does not support item assignment.

In [77]:
tup= tuple(['bat', [1,5], False])
tup[2]= True

TypeError: 'tuple' object does not support item assignment

But, if I create a list inside of a tuple the list is mutable, I can change the objects in it. For example, I used .append to add the 10 value to the end of the list [1,5].

In [11]:
tup[1].append(10)
tup

('bat', [1, 5, 10, 10], False)

2. **List Operations:**
   - Create a list `a_list` with elements [2, 3, 7, None]. Modify the list by replacing the element at index 1 with the string "peekaboo".
   - Explain the difference between `append` and `extend` methods for adding elements to a list.

In [1]:
a_list=[2, 3, 7, None]
a_list[1]="peakaboo"
a_list

[2, 'peakaboo', 7, None]

When using the append method, (.append), you are adding to the end of the list. The result is an updated list containing the added element. 
When usign the extend method, (.extend), you are combining two lists together adding the second list to the end of the first. This method is more efficient when using larger lists.

3. **Dictionary Manipulation:**
   - Create a dictionary `d1` with keys 'a' and 'b', and values 'some value' and [1, 2, 3, 4] respectively. Add a new key-value pair with key 7 and value 'an integer'.
   - Illustrate the use of the `pop` method on a dictionary with the example of removing the key 'dummy' from `d1`.

In [2]:
di= {"a": "some value", "b": [1, 2, 3, 4]}
di

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
di[7]= "an integer"
di

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [5]:
di["dummy"]= "value"
di.pop("dummy")

'another value'

4. **Set Operations:**
   - Given two sets `a = {1, 2, 3, 4, 5}` and `b = {3, 4, 5, 6, 7, 8}`, perform the union and intersection operations on these sets.
   - Explain the concept of a subset and a superset with the example of set `a_set = {1, 2, 3, 4, 5}`.

In [7]:
a= {1, 2, 3, 4, 5}
b= {3, 4, 5, 6, 7, 7}

In [8]:
a|b

{1, 2, 3, 4, 5, 6, 7}

In [9]:
a&b

{3, 4, 5}

You use a subset to see if one set is contained in another set. You use a superset to see if one set contains all elements of another set.

In [11]:
a_set= {1, 2, 3, 4, 5}

In [12]:
check_subset= {1, 2, 3}.issubset(a_set)
check_subset

True

In [13]:
check_superset= a_set.issuperset({1, 2, 3})
check_superset

True

5. **Sequence Functions:**
   - Use the `enumerate` function to iterate over the elements of a list `my_list = ['apple', 'banana', 'cherry', 'date']` and print both the index and the value.
   - Provide an example of using the `sorted` function to sort a list of strings in ascending order.

In [1]:
my_list= ["apple", "banana", "cherry", "date"]

In [2]:
for i in enumerate(my_list):
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'cherry')
(3, 'date')

In [21]:
sorted([2, 3, 6, 5, 8, 4, 1, 9])  # You were supposed to work with strings (-0.25)

[1, 2, 3, 4, 5, 6, 8, 9]

6. **Comprehensions:**
   - Create a list comprehension that extracts uppercase versions of strings from a list `strings=["apple", "Banana", "Cherry", "Dog", "Elephant"]` if their length is greater than 2.
   - Write a dictionary comprehension that maps each element in a list `values=[1, 2, 3, 4, 5]` to its square.

In [29]:
strings= ["apple", "Banana", "Cherry", "Dog", "Elephant"]
y = [x.upper() for x in strings if len(x) > 2]
y

['APPLE', 'BANANA', 'CHERRY', 'DOG', 'ELEPHANT']

In [59]:
values= [1, 2, 3, 4, 5]
set(map(lambda x: x*2, values))

{2, 4, 6, 8, 10}

7. **Slicing and Reversing:**
   - Given the list `seq = [7, 2, 3, 6, 3, 6, 0, 1]`, perform slicing to extract the sublists [2, 3, 6] and [6, 3, 6, 0].
   - Use the `reversed` function to reverse the elements of a list and explain its behavior.

In [39]:
seq= [7, 2, 3, 6, 3, 6, 0, 1]

In [41]:
seq[1:4]

[2, 3, 6]

In [43]:
seq[3:7]

[6, 3, 6, 0]

The reversed function takes the sequence and flips the beginning to the end, swapping the sequence backwards.

In [44]:
seq[::-1]   # It is correct, but the question asked to use the reversed function.   (-0.25)

[1, 0, 6, 3, 6, 3, 2, 7]

8. **Tuple Unpacking and Swapping:**
   - Illustrate the concept of tuple unpacking by swapping the values of two variables without using a temporary variable.

In [48]:
# Two variables with initial values
a, b = 5, 10

In [49]:
a, b= b, a
a

10

In [50]:
b

5

9. **Concatenation and Multiplication:**
   - Concatenate two tuples `(4, None, 'foo')` and `(7, 8, (2, 3))` using both the `+` operator and the `extend` method.

In [51]:
[4, None, "foo"] + [7, 8, (2,3)]  # They are not tuples  (-.5)

[4, None, 'foo', 7, 8, (2, 3)]

In [52]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

10. **List Sorting:**
    - Sort the list `[7, 2, 5, 1, 3]` in ascending order using the `sort` method. Demonstrate the use of a secondary sort key (e.g., sorting based on the remainder when divided by 2).

In [53]:
a= [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [63]:
a.sort(key=lambda x: x % 2)
a

[2, 1, 3, 5, 7]

11. **Flattening Nested Lists:**
    - Write a Python code using list comprehension to flatten `nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]` into a simple list of integers.

In [76]:
nested_list= [1, [2, 3, [4, 5]], 6, [7,8]]
flattened = flattened = [x for tup in nested_list for x in tup]   # see the solution (-.5)
flattened

TypeError: 'int' object is not iterable